body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    color: red;
    text-align: center;

}

h2{
    color: yellow;
    text-align: center;
}
